@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient(#ced5ff, #00aaff);
  --foreground: linear-gradient(#ced5ff, #00aaff);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: linear-gradient(#ced5ff, #00aaff);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  box-sizing: border-box;
}

* {
  font-family: var(--font-montserrat), sans-serif;
}

.scrollbar::-webkit-scrollbar {
  width: 4px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 6px;
  background: #fff;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #dbdadd;
  border-radius: 6px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #dbdadd;
}